<http>
    {% extends "base_bootstrap.html" %}
    {% block content %}
    <head>
        <meta name="dj4e" content="4d1e4ae231d15747722cb11d984637cb">
        <h1>Delete Make</h1>
    </head>
    <body>

        <p>Are you sure you want to delete the make: {{ make }}?</p>

        <form action="" method="POST">
           {% csrf_token %}
           <input type="submit" value="Yes, delete.">
           <input type="submit" onclick="window.location='{% url 'autos:all' %}' ; return false;" value="Cancel">
        </form>

    {% endblock %}
    </body>
</http>